<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: http://mozilla.github.io/nunjucks/ -->
<!-- jade: http://jade-lang.com/ -->
<!-- haml: http://haml.info/tutorial.html -->
<!-- hbs(handlebars): http://handlebarsjs.com/expressions.html -->

<!DOCTYPE html>
<html>

<head>
    <title>Dagwood</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/style.css?t={{ now }}">
</head>

<body>
    <header>
        <h1>
            Dagwood
        </h1>
    </header>
    <p>
        Dagwood is a simple directed graph tool that will eventually grow into
        something more interesting. But I wanted the functionality so that's where I
        started.
    </p>
    <main>
        <div id="formContainer">
            <form>
                <label for="target">
                    <select id="targetMenu" name=target>
                        <option value="">Select existing</option>
                        {% for node_id, node in nodes.items() %}
                        <option value="{{ node_id }}" {% if data.node == node_id|string() %}selected='selected'
                            {% endif %}>
                            {{node.title}}</option>
                        {% endfor %}
                    </select>
                </label>
                depends on
                <label for="from">
                    <input list="nodes" id="fromMenu" name="from" placeholder="Search existing or add new" />
                    <datalist id="nodes">
                        {% for node_id, node in nodes.items() %}
                        <option {% if data.node == node_id|string() %}selected='selected' {% endif %}>
                            {{node.title}}</option>
                        {% endfor %}
                    </datalist>
                </label>

                <label for="class">in the area of</label>
                <select id="classMenu" name=class>
                    <option value="">topic</option>
                    {% for class in classes %}
                    <option>{{ class }}</option>
                    {% endfor %}
                </select>

                <button type="submit">Submit</button>
            </form>
        </div>

        <div style="width: 100%; overflow: scroll">
            <object id="graph" type="image/svg+xml" data="/graph.svg"></object>
        </div>
    </main>

    <footer>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00=" crossorigin="anonymous"></script>
    <script src="/public/client.js?t={{ now }}"></script>

</body>

</html>